.li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {text-decoration: none;}

.card-set{

    @media screen and (min-width: 480px) {
        --item-number: 1;
        }

    @media screen and (min-width: 768px) {
        --item-number: 2;
        }

    @media screen and (min-width: 1200px) {
        --item-number: 4;
        }

    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--indent));
    margin-bottom: calc(-1 * var(--indent));

    
&__item{
    flex-basis: calc(100% / var(--item-number) - var(--indent));
    margin-left: var(--indent);
    margin-bottom: var(--indent);

    @media screen and (min-width: 480px) {
        --item-number: 1;    
    }
    @media screen and (min-width: 768px) {
        --item-number: 2;    
    }
    @media screen and (min-width: 1200px) {
        --item-number: 3;    
    }
    }
}
    
   
.no-scroll{
    overflow: hidden;
}
    
.head{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    @media screen and (min-width: 480px) {
        margin-bottom: 30px;}

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;}

    @media screen and (min-width: 1200px) {
           margin-bottom: 50px;}
}

.visibility-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0 );
    clip-path: inset(50%);
    margin: -1px;
}

    *,
    *::before,
    *::after{box-sizing: border-box;
        // outline: 1px solid teal;
   }

    body {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: var(--color-text-main);
    }
    h1,h2,h3,h4,p{
        margin: 0;
    }
    h3{
        @media screen and (min-width: 1200px) {
            
        text-align: initial;}
        }
    
    
    img{display: block;
    max-width: 100%;
    height:auto;
    } 

.container{
    box-sizing: border-box;    
        
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

@media screen and (min-width: 480px) {
    max-width: 480px;}

@media screen and (min-width: 768px) {
    max-width: 768px;}
    
@media screen and (min-width: 1200px) {
    max-width: 1200px;}
}



%button{
    display: inline-block;
            
    padding: 6px 22px;
            
    font-size: 16px;
    border-radius: 4px;
    border: 0cm;
    cursor: pointer;
           
    transition: color var(--animation)
    }
        
.primary{
    @extend %button;
            
    align-items: center;
    margin: auto;

    width: 200px;
    height: 50px;
        
    font-family: inherit;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
            
    background-color: var(--color-button-second);
    color: var(--color-button-prima);
    }
        
.button.primary:hover,
.button.primary:focus{
    
    background-color: var(--color-botton-hover);
    }
        
        .secondary {
            @extend %button;
            
            font-family: inherit;
            font-weight: 500;
            line-height: 1.63;
            letter-spacing: 0.03em;
        
            background-color: var(--color-bg-secondary);    
            color: var(--color-text-main);
            filter: drop-shadow(rgba(0, 0, 0, 0.25));
            border-color: var(--color-bg-secondary);
        }
        
        .secondary:hover,
        .secondary:focus{
            @extend %button;
        
            background-color: var(--color-button-second);
            color: var(--color-button-prima);
            filter: drop-shadow(rgba(0, 0, 0, 0.25));
        }
        
        .secondary.choosen {
            @extend %button;

            background-color: var(--color-button-second);
            color: var(--color-button-prima);
            filter: drop-shadow(rgba(0, 0, 0, 0.25));
        }

        

        .sm{
            display: flex;
            justify-content: center;
            
            gap: 10px;

            &__archer{
                display: flex;
                align-items: center;
                justify-content: center;
                
                width: 40px;
                height: 40px;
                border-radius: 50%;
                
                transition: color var(--animation);
                }

                &__archer--team{color: var(--color-clients);}
            
                &__archer--team:hover,
                &__archer--team:focus{
                background-color: var(--color-button-second);
                color: var(--color-button-prima);
                }
                
                &__link{
                max-width: 20px;
                max-height: 20px;
                fill:currentColor;
                }
            }