:root{
    /* Colors */
    --color-text-main: #212121;
    --color-text-secondary: #757575;
    --color-button-prima:#FFFFFF;
    --color-button-second:#2196F3;
    --color-botton-hover: #188CE8;
    --color-bg-hero: #2F303A;
    --color-bg-secondary:#F5F4FA;
    --color-border:#EEEEEE;
    --color-header-border: #ECECEC;
    --color-clients: #AFB1B8;
    
    /*Змінні для сітки  */
    --item-number: 3;
    --indent: 30px;

    /* Анімашка */

    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


            
            
            
           